* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'A La Russ Regular';
    src: url('../fonts/ALaRuss.eot');
    src: url('../fonts/ALaRuss.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ALaRuss.woff') format('woff'),
    url('../fonts/ALaRuss.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-500'),
        url('../fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-300'),
        url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('MuseoSansCyrl-700'),
        url('../fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('../fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

.promo {
    height: 100%;
    background: url('../img/bg1.jpg') center center/cover no-repeat;
}
h1 {
    margin-top: 5px;
    text-align: center;
    font-family: 'A La Russ Regular';
    font-size: 135.1px;
    font-weight: 400;
    color: #ff0202;
}
.promoname {
    margin-top: -50px;
    text-align: center;
    font-family: 'A La Russ Regular';
    font-size: 656.6px;
    font-weight: 400;
    color: #fdfcfc;
}
.promobtn {
    display: block;
    margin: 0 auto;
    margin-top: -70px;
    width: 506px;
    height: 94px;
    border-radius: 15px;
    border: none;
    cursor: pointer; 
    background-color: #f52121;
    margin-bottom: 25px;
  
}

a {
    
    font-family: 'A La Russ Regular';
    font-size: 75.1px;
    font-weight: 400;
    color: #fdfcfc;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none; 
}


.promobtn:hover {
    background-color: #ff0202;
    width: 510px;
    height: 94px;
    transition: 0.3s all;
    border: none;
}
.promobtn:focus  
    {
    outline: none !important;
}
.questions {
  min-height: 400px;
  background: url('../img/синий орнамент.jpg') center center/cover no-repeat;
 
}

#question {
  
  display: flex;
  justify-content: space-between;
  

  margin-left: 200px;
  margin-right: 200px;
  
  

}
button {
  margin-top: 175px;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid;
  border-color: rgb(2, 38, 117);
  cursor: pointer; 
  background-color: #9be0f5;
  font-family: 'A La Russ Regular';
  color: #052583;
  font-size: 26px;
  font-weight: 400;
          
}
button:hover {
  background-color: #06838b;
  border: none;  
  transition: 0.3s all;
}
#prompt-form {
    display: inline-block;
    
    width: 200px;
    border: 1px solid;
    border-color: #f52121;
    background: url('../img/slide-18.jpg') center center/cover no-repeat;;
    width: 600px;
    height: 600px;
    box-shadow: 5px 3px 20px 2px rgb(85, 6, 6);
    border-radius: 10px;
    vertical-align: middle;
    padding-top: 130px;
    
    
  }
  
#prompt-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
    
    
  }
#prompt-message {
  margin-bottom: 195px;
  font-family: 'Museo Sans Cyrl';
  font-weight: 500;
  font-size: 26px;
  color: #080808;
  margin-right: 170px;
}
#btn {
    
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid;
    border-color: #f52121;
    cursor: pointer; 
    background-color: #faf6f6;
    font-family: 'A La Russ Regular';
    color: #f52121;
    font-size: 40px;
    font-weight: 400;
  }
#btn:hover {
    background-color: #f3acac;
    
    transition: 0.3s all;
    border: none;
}
  
#prompt-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
    
  }
  
#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: rgb(77, 75, 75);
    opacity: 0.9;
    
  }
  
#prompt-form input[name="text"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  
    width: 400px;
    height: 50px;
    border-color: #f52121;
    border-radius: 10px;
    font-family: 'Museo Sans Cyrl';
    font-weight: 500;
    font-size: 20px;
  }
#prompt-form input[name="text"]:focus  
  {
    outline: none !important;
  }
#hehe {
    
    background: rgb(247, 161, 161);
    font-family: 'A La Russ Regular';
    width: 90%;
    font-size: 50px;
    color: red;
    display: block;
    margin: 30px auto;
    border-color: red;
    border-radius: 15px;
    text-align: center;
}
